/*GENERAL CSS*/
@font-face {
    font-family: "poppinsLight";
    src: url("fonts/poppins/Poppins-Light.ttf");
}
@font-face {
    font-family: "poppinsRegular";
    src: url("fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
    font-family: "poppinsSemibold";
    src: url("fonts/poppins/Poppins-SemiBold.ttf");
}
@font-face {
    font-family: "poppinsBold";
    src: url("fonts/poppins/Poppins-Bold.ttf");
}

html{
    font-size: 100%;
    font-family: "poppinsRegular", "Helvetica", sans-serif;
    -webkit-box-sizing: padding-box;
    -moz-box-sizing: padding-box;
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-shadow: 2px 2px 2px #1e2930;
}
p, label{
    color:rgb(231, 231, 231);
    text-shadow: 2px 2px 2px #1e2930;
}
input{
    font-size: 1rem;
    font-family: "poppinsRegular", sans-serif;
    line-height: 2rem;
    border: 0;
    border-bottom: 2px solid rgb(231, 231, 231);
    color: white;
    background-color: transparent;
    transition: 300ms;
}
input:focus{
    outline: 1px dashed rgb(231, 231, 231);
    border-bottom: 2px solid white;
    color: white;
    transition: 300ms;
}
input[type="checkbox"]{
    accent-color: #41666D;
}
input::placeholder {
    color:rgb(231, 231, 231);
}
/*-------------------------------------------------------------------------------------------------*/

/*GENERAL CSS CLASSES*/

/*buttons*/
/*default button*/
.button {
    width: auto;
    padding: 0.8rem 1.2rem;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: transparent;
    border-bottom: 0;
    border-radius: 2px;
    display: inline-block;
    transition: 200ms;

    border: 3px solid white;
    background-color: white;
    color: #41666D !important;
}
.button:hover {
    letter-spacing: 0.2rem;
    color: #41666D !important;
    transition: 200ms;
    cursor: pointer;
}
/*red button*/
.red_button {
    color: white  !important;
    border: 3px solid rgb(173, 39, 79);
    background-color: rgb(173, 39, 79);
}
.red_button:hover{
    color: white  !important;
}
/*-------------------------------------------------------------------------------------------------*/

/*Flex elements*/
/*All elements in parent will be in the center center*/
.flex_middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*-------------------------------------------------------------------------------------------------*/