.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-goal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.single-goal p {
    margin-top: 10px;
}

#image {
    width: 450px;
    height: 300px;
    object-fit: cover;
}

#description {
    margin: 20px;
}

/*button van goalpage.html*/
#learn {
    font-size: 1em;
    padding: 5px 10px;
    background-color: rgb(176,217,128);
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    margin: 10px;
    letter-spacing: 2px;
    transition: 0.2s;
}

#learn:hover {
    letter-spacing: 6px;
}

.subs {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.subgoals {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: rgb(139,169,137) solid 1px;
    padding: 5px;
}

.btn-sub {
    font-size: 1rem;
    padding: 5px;
    width: 70%;
    background-color: rgb(139,169,137);
    text-transform: uppercase;
    border: none;
    font-weight: 500;
    letter-spacing: 2px;
    transition: 0.2s;
}

.btn-sub:hover {
    letter-spacing: 5px;
}