/*Navigation css*/
nav {
    padding: 20px;
    width: 100px;
    float: right;
    position: sticky;
    top:0;
    color: rgb(51,49,49);
}

nav #hamburger{
    width: 36px;
    height: 36px;
    font-size: 32px;
}

.burger {
    width: 30px;
}

nav span {
    visibility: hidden;
}

menu {
    list-style-type: none;
    margin-top: 42px;
    margin-bottom: 42px;
}
li{
    margin-top: 12px;
    
}
nav li > a, nav div > a, #hamburger{
    display: inline-block;
    cursor: pointer; 
}

a {
    line-height: 32px;
    height: 32px;
    text-decoration: none;
}
a img {
    width: 32px;
    float: left;
    margin-right: 18px;
}