/*Navigation css*/
nav {
    height: 100vh;
    width: 100px;
    float: left;
    position: sticky;
    top:0;
    display: block;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 6px 20px rgba(18, 65, 73, 0.5);
    padding: 2rem 2rem;
    transition: 200ms;
}
nav #hamburger{
    width: 36px;
    height: 36px;
    font-size: 32px;
    background-image: url("../assets/hamburger.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: 200ms;
}
nav span {
    display: none;
}

menu {
    list-style-type: none;
    margin-top: 42px;
    margin-bottom: 42px;
}
li{
    margin-top: 16px;   
    height: 42px; 
    line-height: 10px;
}
nav li > a, nav div > a, #hamburger{
    display: inline-block;
    cursor: pointer; 
}

nav a {
    line-height: 32px;
    height: 32px;
    text-decoration: none;
    color: white;
    font-family: "poppinsRegular", sans-serif;
    text-align: left;
}
nav a img {
    width: 32px;
    float: left;
    margin-right: 18px;
    transition: 100ms;
}

#logout_div{
    position: absolute;
    bottom: 2rem;
}

#logout_div a {
    margin-top: 16px;  
    width: 100%;
    display: inline-block;
}